services :

  db:
    image: mariadb:latest
    container_name: mini-shop-db
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: example
      MARIADB_DATABASE: mini_shop
      MARIADB_USER: admin-user
      MARIADB_PASSWORD: Foie1312Flea2512
    ports:
      - "3325:3306"
    volumes:
      - db_data:/var/lib/mysql
    
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

volumes:
    db_data:
      