<nav class="navbar">
  <div class="burger" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="nav-links" [class.open]="menuOpen">
    
  <a routerLink="/" routerLinkActive="active" (click)="closeMenu()">Accueil</a>
  <a routerLink="/cart" routerLinkActive="active" (click)="closeMenu()">Panier</a>
  <a routerLink="/order" routerLinkActive="active" (click)="closeMenu()">Commande</a>
  <a routerLink="/login" routerLinkActive="active" (click)="closeMenu()">Connexion</a>
  <a routerLink="/cart" routerLinkActive="active" (click)="closeMenu()">Voir le panier</a> 
  <a routerLink="/" routerLinkActive="active" (click)="closeMenu()">Catalogue</a> 
  </div> 
</nav>

<router-outlet></router-outlet>
